/* *************** variables and general settings ************** */
:root {
  --primary-color: #fcfcfc;
  --secondary-color: #f7567c;
  --tertiary-color: #fffae3;
  --font-color: #99e1d9;
  --font-color-secondary: #5d576b;
  --font-family-titles: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Reset default browser styles */

body,
h1,
h2,
ul,
li,
button,
input {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: var(--font-family-titles);
  background-color: var(--primary-color);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: var(--font-color-secondary);
}

.main-container {
  padding: 1rem;
  margin: auto;
  background-color: var(--primary-color);
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.ul-cards {
  justify-content: center;
  align-items: center;
}

.li-card {
  display: flex;
  flex-direction: column;
  padding: 0.4rem;
  margin: 0.5rem;
  border-radius: 8px;
  background-color: var(--tertiary-color);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.footer,
.header {
  text-align: center;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.header img {
  height: 70px;
}

button {
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 4px;
  margin: 4px;
  border: none;
  outline: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--font-color);
}

.no-bullets {
  list-style: none;
}

.rating-likes-container {
  display: flex;
  justify-content: space-between;
}

.like-button {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--secondary-color);
}

.likes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
